<phpunit
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
   colors="true"
   stopOnError="false"
   stopOnFailure="false">
  <testsuites>
    <testsuite name="Core">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
</phpunit>
